<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - WebApp</title>
    <link rel="stylesheet" href="~/lib/pico/pico.min.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/WebApp.styles.css" asp-append-version="true"/>
</head>
<body>
<header class="container">
    <nav>
        <ul>
            <li>
                <strong>
                    <a asp-area="" asp-page="/Index">WebApp</a>
                </strong>
            </li>
            <li>
                <a asp-area="" asp-page="/Index">Home</a>
            </li>
            <li>
                <a asp-area="" asp-page="/Students">Studenter</a>
            </li>
            <li>
                <a asp-area="" asp-page="/Courses">Kurser</a>
            </li>
            <li>
                <a asp-area="" asp-page="/Teachers">Lärare</a>
            </li>
        </ul>
    </nav>
</header>
<main class="container">
    @RenderBody()
</main>
<footer class="container">
    &copy; 2023 - WebApp - <a asp-area="" asp-page="/Privacy">Privacy</a>
</footer>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

@await RenderSectionAsync("Scripts", required: false)
</body>
</html>